<div>
      <p class="mt-5 lead text-center">Percentage of questions per day that either have at least one answer or none
      </p>
      <mat-grid-list cols="2" rowHeight="100px">
            <mat-grid-tile>
                  <p>{{ today }}</p>
            </mat-grid-tile>
            <mat-grid-tile>
                  <p>{{ tomorrow }}</p>
            </mat-grid-tile>
      </mat-grid-list>
      <mat-grid-list cols="2" rowHeight="200px">
            <mat-grid-tile>
                  <ngx-charts-pie-grid [scheme]="schemePie" [results]="answersByDayNameOfToday.series">
                  </ngx-charts-pie-grid>
            </mat-grid-tile>
            <mat-grid-tile>
                  <ngx-charts-pie-grid [scheme]="schemePie" [results]="answersByDayNameOfTomorrow.series">
                  </ngx-charts-pie-grid>
            </mat-grid-tile>
      </mat-grid-list>
</div>
<div class="mx-auto" style="width: max-content;">
      <h1 class="mt-5 lead text-center">Post per hour</h1>
      <ngx-charts-bar-vertical-2d [view]="viewBar" [scheme]="scheme" [results]="count" [gradient]="gradient"
            [xAxis]="showXAxis" [yAxis]="showYAxis" [legend]="showLegend" [showXAxisLabel]="showXAxisLabel"
            [showYAxisLabel]="showYAxisLabel" [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabel"
            [groupPadding]="groupPadding" [barPadding]="barPadding" [roundEdges]="roundEdges">
      </ngx-charts-bar-vertical-2d>
</div>