<div>
    <p class="mt-5 lead text-center">Most viewed questions posted last week on {{ today }} or {{ tomorrow }}
    </p>
    <table class="mx-auto" style="width: max-content;" mat-table [dataSource]="mostViewed">
        <ng-container matColumnDef="title">
            <th mat-header-cell *matHeaderCellDef> Title </th>
            <td mat-cell *matCellDef="let question"> {{ question.title }} </td>
        </ng-container>
        <ng-container matColumnDef="value">
            <th mat-header-cell *matHeaderCellDef> Views </th>
            <td mat-cell *matCellDef="let question"> {{ question.view_count }} </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
        <tr mat-row *matRowDef="let rowData; columns: columnsToDisplay"></tr>
    </table>
    <p class="mt-5 lead text-center">Most answered questions posted last week on {{ today }} or {{ tomorrow }}
    </p>
    <table class="mx-auto" style="width: max-content;" mat-table [dataSource]="mostAnswered">
        <ng-container matColumnDef="title">
            <th mat-header-cell *matHeaderCellDef> Title </th>
            <td mat-cell *matCellDef="let question"> {{ question.title }} </td>
        </ng-container>
        <ng-container matColumnDef="value">
            <th mat-header-cell *matHeaderCellDef> Answers </th>
            <td mat-cell *matCellDef="let question"> {{ question.answer_count }} </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
        <tr mat-row *matRowDef="let rowData; columns: columnsToDisplay"></tr>
    </table>
</div>