<div>
    <mat-progress-bar mode="query" *ngIf="fetching"></mat-progress-bar>
    <p class="mt-5 lead text-center">Pick amongst Stackoverflow's 100 most popular tags and see some basic statistics
        about
        post made on {{ today }} and {{ tomorrow }} last week.</p>
    <form class="mx-auto mt-5" style="width: max-content;"
        (ngSubmit)="fetch(tagForm.form.get('tag').value); tagForm.form.markAsPristine(); nullPreviousErrorMessages()"
        #tagForm="ngForm">
        <mat-form-field>
            <mat-label>Pick tag</mat-label>
            <mat-select required ngModel name="tag">
                <mat-option *ngFor="let tag of validTags" [value]="tag">
                    {{ tag }}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <span matTooltip="Pick a new tag to make this button active!" [matTooltipDisabled]="tagForm.form.dirty">
            <button class="ml-3" type="submit" [disabled]="tagForm.form.invalid||tagForm.form.pristine"
                mat-stroked-button>FETCH</button>
        </span>
    </form>
    <ngb-alert class="mx-auto mt-5" *ngIf="errorMsg" [type]="errorType" [dismissible]="false"
        style="width: max-content;">
        {{ errorMsg }}</ngb-alert>
</div>
<div *ngIf="isArrayWithData()">
    <app-top-three [mostAnswered]="mostAnswered" [mostViewed]="mostViewed" [today]="today" [tomorrow]="tomorrow">
    </app-top-three>
    <app-graphs [count]="count" [answersByDayNameOfTomorrow]="answersByDayNameOfTomorrow"
        [answersByDayNameOfToday]="answersByDayNameOfToday" [today]="today" [tomorrow]="tomorrow">
    </app-graphs>
</div>